vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

.main-view-title {
    width: 93%;
}

footer.layout {
    align-items: end;
    width: 100%;
    flex-grow: 1;
}

.footer-content {
    width: 100%;
    font-size: var(--lumo-font-size-xs);
}

.menu-item {
    margin-right: 10px;
}